# Binaries and Large Files
*.exe
*.dll
*.iso
*.tar
*.gz
*.zip   
*.7z
*.rar
*.msi
.env


# FFmpeg specific
ffmpeg-master-latest-win64-gpl/
ffmpeg/
bin/


# Project specific binaries
yt-dlp
yt-downloader
ffmpeg
ffprobe
.downloads
cookies.txt


# Logs and System
*.log
.DS_Store
Thumbs.db

